.left-col {
  padding: 20px;
  padding-left: 30px !important;
  padding-right: 20px !important;
}

.right-col {
  background-color: #F7F9FF;
  padding: 20px;
  padding-left: 30px !important;
}

.input-field {
  margin-block: 30px;
}

.input-group .form-outline {
  width: 85%;
}
@media only screen and (max-width: 1300px) {
  .input-group .form-outline {
    width: 80%;
  }
}
@media only screen and (max-width: 992px) {
  .input-group .form-outline {
    width: 75%;
  }
}
@media only screen and (max-width: 800px) {
  .input-group .form-outline {
    width: 70%;
  }
}

#loading {
  display: none;
}

#image {
  width: 80%;
  height: 50%;
  margin-top: 20px;
}
