.left-col {
  padding: 20px;
  padding-left: 30px !important;
  padding-right: 20px !important;
}

.right-col {
  background-color: #F7F9FF;
  padding: 20px;
  padding-left: 30px !important;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.input-field {
  margin-block: 30px;
}

.input-group .form-outline {
  width: 85%;
}
@media only screen and (max-width: 1300px) {
  .input-group .form-outline {
    width: 80%;
  }
}
@media only screen and (max-width: 992px) {
  .input-group .form-outline {
    width: 75%;
  }
}
@media only screen and (max-width: 800px) {
  .input-group .form-outline {
    width: 70%;
  }
}

#loading {
  display: none;
  margin: 0 auto;
}

#image {
  width: 80%;
  height: 50%;
  max-width: 500px;
  max-height: 500px;
  margin-top: 20px;
}

.social-icon {
  margin: 20px 5px;
}
